*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(168, 222, 168);
}
#panel{
    height: 80%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
#pTop{
    padding: 0 15%;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(41, 104, 41);


}
.elem{
    display: flex;
    width: 100%;
    
    gap: 20px;
}
.Box{
    padding: 10px;
    padding-bottom: 35px;
    font-weight: 400;
    font-size: 20px;

    color: black;
    background-color: white;
    height: 10px;
    width: 70px;
    border-radius: 5px;


}
.pBtm{
    height: calc(100% - 70px);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
 }
 .bubble{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 550;
    cursor: pointer;
 }
 .bubble:hover{
    background-color: rgb(26, 60, 26);
    

 }
